<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REST API Documentation</title>
</head>
<body>
<marquee>
    <h1>Rest API</h1>
</marquee>
<h2>
    If you want to extract information about the Food Available, Food Requests made or other details, then you are at the right place<br />
    Our REST API handles requests and gives responses in JSON format.
</h2>
<h3>
    base_url = "localhost:8000/API/" <br />
    To get information about available food: base_url + "available_food/" <br />
    To get information about Requests made for food: base_url + "food_request/" <br />
    To get Details about Users: base_url + "user_details/" <br />
</h3>
</body>
</html>
